<div class="row center-xs">
  <div class="col-xs-11 col-sm-6 col-md-4">
    <mat-toolbar class="center-xs" color="primary">Dashboard Login</mat-toolbar>
    <mat-card>
      <mat-card-content class="start-xs">
        <form>
          <mat-form-field class="full-width">
            <input matInput placeholder="Email">
          </mat-form-field>
    
          <mat-form-field class="full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
          <button mat-raised-button color="accent" class="full-width">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>